<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/head")  %>
</head>
<body>
    <div class="container p-4">
        <div class="row">
            <div class="card-columns">
                <% images.forEach(function(image) {%>
                <div class="card animate__animated animate__jello">
                    <img src="<%= image.path %>" class="card-img-top" alt="<%= image.filename %>">
<div class="card-body">
    <h5 class="card-title"><%= image.title %></h5>
    <p class="card-text"> <%= image.description %></p>
<p class="card-text"><%= image.created_at %></p>
</div>
</div>
                    <% } ) %>
            </div>
        </div>
    </div>
</body>
</html>